/3rdparty/opencv*
/3rdparty/Assimp*
/3rdparty/dav1d*
/3rdparty/libmfx*
/3rdparty/mono*

Config.h

# cmake
/build*
/out*

# Visual Studio Misc
/.vscode*
*.vs
*.sln
*.vcxproj
*.idb
*.pdb
*.filters
*.user
*.vcxproj
*log
