/.vs*
.vscode/settings.json
/ImmortalEditor/std
/.vs/Immortal/v16/ipch
/RuntimeTest
/bin
/bin-int
/Sandbox
/lib
/VulkanSandbox/assets
/VulkanSanbox/assets

# Misc
*bin-int*

# cmake
/build*
/3rdparty*
/out*

# Visual Studio Misc
*.sln
*.vcxproj
*.idb
*.pdb
*.filters
*.user
*.vcxproj
*log
