[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/QSXW/glm.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/QSXW/imgui.git
	branch = docking
[submodule "3rdparty/SPIRV-Cross"]
	path = 3rdparty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "3rdparty/LibRaw-cmake"]
	path = 3rdparty/LibRaw-cmake
	url = https://github.com/LibRaw/LibRaw-cmake.git
[submodule "3rdparty/LibRaw"]
	path = 3rdparty/LibRaw
	url = https://github.com/LibRaw/LibRaw.git
