/ImmortalEditor/std
/.vs/Immortal/v16/ipch
/RuntimeTest
/bin
/bin-int
/Sandbox
/lib
/VulkanSandbox/assets
/VulkanSanbox/assets

# Misc
*bin-int*
/3rdparty*

# cmake
/build*
/out*

# Visual Studio Misc
/.vscode*
/.vs*
*.sln
*.vcxproj
*.idb
*.pdb
*.filters
*.user
*.vcxproj
*log
